<h1>Build forest</h1>

<form action="{% url 'result' %}" method="post">
{% csrf_token %}
    Image params<br />
    <label for="Width">Width</label><br />
    <input type="text" name="Width" id="Width" value="700"" /><br />
    <label for="Heigth">Height</label><br />
    <input type="text" name="Heigth" id="Heigth" value="500"" /><br />
    <label for="Trees_number">Trees number</label><br />
    <input type="text" name="Trees_number" id="Trees_number" value="70"" /><br />
    <br>Color params<br />
    <label for="Trunk_color">Tree trunk color</label><br />
    <input type="color" name="Trunk_color" id="Trunk_color" value="#544e3e"" /><br />
    <label for="Leaf_color">Tree leaf color</label><br />
    <input type="color" name="Leaf_color" id="Leaf_color" value="#04B404"" /><br />
    <label for="Background_color">Background color</label><br />
    <input type="color" name="Background_color" id="Background_color"value = "#088A85"" /><br />
    <label for="Background_transparency">Background transparency(0-100)</label><br />
    <input type="number" name="Background_transparency" id="Background_transparency" value = "0"" /><br />
    <label for="Color_std">Color diversity</label><br />
    <input type="number" name="Color_std" id="Color_std" value="1"" /><br />
<br /><input type="submit" value="Submit" />
</form>

